body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    margin-top: 0;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.section p {
    margin: 5px 0;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li::before {
    content: "▹";

    margin-right: 5px;
    color: #007bff;
}

.section .details {
    margin-left: 20px;
}